@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@config "../../tailwind.config.js";

@layer base {
  body {
    @apply h-full overflow-x-hidden dark:text-slate-300 text-slate-600 font-normal;
  }
  .app-warp {
    &.light,
    &.skin--default {
      @apply bg-slate-100;
    }
    &.lght,
    &.skin--bordered {
      @apply bg-transparent;
    }
    &.dark {
      @apply bg-[#0f172a] text-slate-300;
    }
  }
  html,
  body {
    @apply h-full;
  }

  .dashcode-app-wrapper {
    @apply relative;
  }
  .single-sidebar-menu .ReactCollapse--collapse {
    transition: height 400ms;
  }
  .space-xy-5 {
    > div,
    > button,
    > a,
    label,
    > * {
      @apply mr-2 mb-2;
    }
  }
  .space-xy-6 {
    > div,
    > button,
    > a,
    label,
    > * {
      @apply mr-4 mb-2;
    }
  }

  html[dir="rtl"] {
    .recharts-wrapper {
      direction: rtl;
    }
    .recharts-yAxis {
      .recharts-text {
        text-anchor: start;
      }
    }
  }
  .dashcode-app {
    .leaflet-control {
      z-index: 0 !important;
    }
    .leaflet-control-container {
      z-index: 555 !important;
      position: relative;
    }
    .recharts-curve.recharts-tooltip-cursor {
      display: none;
    }
    .recharts-wrapper.bar-chart {
      .recharts-tooltip-cursor {
        fill: transparent;
      }
    }
    .recharts-tooltip-wrapper {
      border: none !important;
    }

    .custom-scrollbar {
      /* For Firefox */
      scrollbar-width: thin; /* Makes the scrollbar thin (not hidden, but minimal) */
      scrollbar-color: #56ce84 transparent; /* Transparent scrollbar track */

      /* For WebKit browsers (Chrome, Safari) */
      &::-webkit-scrollbar {
        width: 1px; /* Adjust the width of the scrollbar */
      }

      &::-webkit-scrollbar-thumb {
        background-color: #56ce84; /* Make the scrollbar thumb transparent */
      }

      &::-webkit-scrollbar-track {
        background-color: transparent; /* Make the scrollbar track transparent */
      }
    }

    .hidden-scrollbar {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
    }
  }
}
@layer components {
  @import "components/table.scss";
  @import "components/map.scss";
  @import "components/progress";
  @import "components/tippy";
  @import "components/swiper";
  @import "components/alert";
  @import "components/card";
  @import "components/auth";
  @import "components/button";
  @import "components/badge";
  @import "components/typography";
  @import "components/form";
  @import "components/input-group";
  @import "components/react-select";
  @import "components/pagination";
  @import "components/breadcrumbs";
  @import "layout/header";
  @import "layout/footer";
  @import "layout/sidebar";
  @import "layout/settings";
  @import "utility/mix";
  @import "utility/loading";
  @import "utility/css-animation";
  @import "utility/calander";
  @import "utility/full-calender";
  @import "components/print.scss";
}
@layer utilities {
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
