# Environment variables you will need to set for the application
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_KEY=

NEXT_PUBLIC_ENCRYPT_KEY=
NEXT_PUBLIC_PLACES_API_LIMIT=

SERVICE_KEY=

API_KEY=
RESEND_API_KEY=

SUPPORT_TEAM_EMAIL=4ourlife.app@gmail.com

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=